# Local Netlify folder
.netlify

# macOS
.DS_Store

# Node
node_modules/

# Xcode
ios/**/xcuserdata/
ios/**/DerivedData/
ios/**/*.xcworkspace/xcuserdata/
ios/**/build/
ios/**/.swiftpm/xcode/xcuserdata/
ios/.swiftpm/
